#header{
    display: flex;
    width: 986px;
    height: 62px;
    flex-shrink: 0;
}

#bar {
    width: 276px;
height: 32px;
flex-shrink: 0;
border-radius: 20px;
background: #F1F1F1;
}

span {
    color: var(--sub-text-2, #B0B0B0);
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
